$font_family: "Monserrat", sans-serif;
$font_weight: 400;
$font_size: 18px;
$line_height_normal: 1.2;
$color_main: #2c4058;
$color_btn: #000;
$color_add: #ffffff;
$background_add_1: #55b7ff;
$background_add_2: #7e5aff;

$width_content: 1170px;
$adaptive_width_content: calc($width_content / 2);
